/node_modules/
/package-lock.json
/.vscode/
/aws-key/
.env

## Data Gen ##
/data_generator/data
/data_generator/photos/images
/database/config.js

## New Relic ##
newrelic.js
newrelic_agent.log

## zip folder ##
to_zip